*{
    margin: 0;
}

.states {
    padding: 2vh;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}



.free {
    background-color: green;
}

.occupied {
    background-color: red;
}

.layout {
    display: flex;
    flex-direction: column;
}

.header {
    padding: 40px;
    background-color: #666;
    text-align: center;
    font-size: 35px;
    color: white;
}

.main {
    background-color: #f1f1f1;
    flex-direction: row;
}
img{
    margin-top: 40px;
    margin-bottom: 40px;
}
.footer {
    background-color: #666;
    padding: 10px;
    text-align: center;
    color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}



.fill {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 10%;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.fill:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

@media (min-width: 768px) {
    .fill {
        padding: 0.25em 0.75em;
    }
}



